{{ define "main" }}

<!-- page-title -->
<section class="section_post">

  <div class="container">
    <div class="col-lg-8 mx-auto">
       <h3 class="card-title">{{.Title}}</h3>

     <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item"><i class="ti-user mr-2"></i>Post by {{.Site.Params.author}}</li>
          <li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
        </ul>
       <div class="card bg-white border-0">
          <img class="card-img-top" src="{{.Params.Image | absURL}}" alt="post-thumb">
          <!--
             <div class="card-img-overlay-post text-center">
             <h3 class="card-title text-white pl-5 pr-5">{{.Title}}</h3> 
             -->
           </div>
        </div>
      </div>
  </div>
</section>


<!-- /page-title -->

<!-- blog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <article class="content">
          Post by {{.Params.stats2}}<br>
          Distance {{.Params.stats.distance}}<br>
          Elevation {{.Params.stats.elevation_gain}}<br>
          {{.Content}}
          <iframe src="{{.Params.map}}" width="640" height="480"></iframe>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- /blog single -->

{{ end }}